* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100%;
    /* background-color: #344da9; */
   
}

html {
    scroll-behavior: smooth;
    
}

/********Home/Index Page*****/

.welcome-text {
    margin-top: 60px;
    text-align: left;
}

.welcome-text .welcome {

    color: white;
}

.welcome-text .dreams {
    color: #1d3060;
    font-size: 5rem;
    font-weight: 700;
}

.welcome-text .inspiring {
    font-weight: bold;
    margin-top: 30px;
    color: white;
}

.nav-item {
    padding-right: 40px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.2);*/
}

#landing-image {
    background-image: url('../images/image-one-01-01.png');
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/***end of home page***/

/*About*/
#about{
    
    height: 800px;
}

#sectionOne-img {
    background-image: url('../images/image-two-01-02.png');
    height: 780px;
    margin-left:70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about .benefits {
    text-align: left;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #1d3060;
}
#about .container .b1 .coursesIcons{
    width:100px;
    height:100px;
}


#about .container .b1 {
    
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 18px #888888;
}

.b1:hover {
    background-color: #f0eeef;
   
    transition: 0.3s;
    transform: translateY(-5px);
}


.benefits {
    color: black;
}

.explore {
    text-align: center;
    color: black;
}

.ourCourses {
    margin-top: 20px;
    text-align: center;
}

.dev {
    color: black;
}

/***********Courses - Home Page ****************/

.team-area {
    /*display: flex;*/
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    /*justify-content: space-around;*/
}
.team-area .coursesIcons{
    width: 100px;
    height: 100px;
}

.single-team {

    width: 340px;
    /*margin: 20px;*/
    height: 400px;
    padding: 30px;
    
    position: relative;
    /* display: flex;
    align-items: flex-end;*/
    transition: .2s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}



.single-team:hover {
    transform: translateY(15px);
}

.single-team:hover:before {
    opacity: 1;
}

.single-team:hover .team-text {
    opacity: 1;
    transform: translateY(0);
}

/*.single-team:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}*/

/*.single-team img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
*/
/*.single-team .team-text {
    position: relative;
    z-index: 3;
    color: black;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}
*/
.team-text h2 {
    margin: 0;
    letter-spacing: 3px;
}

.team-text p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.team-text a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;
}

.team-text a i {
    color: black;
    padding: 6px 8px;
}





/*Separator*/
.separator-img {
    margin-top: 100px;
    background-image: url("../images/separator-1-01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;


}

/*.counter-up{
  background: url("man-working.jpg");
  min-height:50vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-size:cover ;
  background-attachment: fixed;
  position: relative;

}*/
/*.counter-up::before{

  position:absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);

}*/
.counter-up .content {

    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .box {
    width: calc(25% - 30px);
   /* border: 1px dashed rgba(225, 225, 225, 0.6);*/
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    flex-direction: column;
    border-radius: 5px;
}

.content .box .icon {
    font-size: 50px;
    color: #e6e6e6;
}

.content .box .counter {
    font-size: 50px;
    color: #f2f2f2;
    font-weight: 500;

}

.content .box .text {
    color: #ccc;
    font-weight: 400;
}

@media (max-width:1036px) {
    .counter-up {
        padding: 30px 30px 0 30px;
    }

    .content .box {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media (max-width:580px) {
    .counter-up {
        padding: 30px 30px 0 30px;
    }

    .content .box {
        width: 100%;
    }
}

/***End of Separator ****/

/*Courses Offered*/

.course-area {
    /*display: flex;*/
    /* background: #1f42a8; */

    padding-top: 80px;
    padding-bottom: 100px;
    height:100%;
    width: 100%;
    margin-bottom: 30px;
    /*justify-content: space-around;*/
}

.course-team {
    text-align: center
    width: 200px;
    margin: 10px;
    height: 200px;
    padding: 30px;
    background: white; 
    position: relative;
    /* display: flex;
    align-items: flex-end;*/
    transition: .2s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.course-team .courses-icon{
    margin-bottom: 10px;
    width:100px;
    height: 100px;
}
.course-team .course-text{
    text-align: center;
}

.course-team:hover {
    /*filter: invert(1);*/
    /*background-color: #ad8e36;*/
    transform: translateY(15px);
}

.course-team:hover:before {
    opacity: 1;
}

.course-team:hover .course-text {
    
   /* opacity: 1;*/
    /*transform: translateY(0);*/
}

/*.course-team:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}*/

/*.course-team img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}*/

/*.course-team .course-text {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}
*/
.course-text h2 {
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 0;
    
}
.course-text h2:hover{
    color:black;
}

.course-text p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.course-text a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;
}

.course-text a i {
    color: white;
    padding: 6px 8px;
}


/*******register Page*****/
#register-image {
    /*background-image: url("../images/login-img.png");*/
    /* background-color: #344da9; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

}

.bootstrap-icons {
    text-align: center;
    color: white;
}


.icons {
    width: 30px;
    height: 30px;
    filter: invert(1);
    opacity: 0.5;
}

.icons:hover {
    opacity: 1;
}


.register-form {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #112d42;*/
}

.register-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /*background: #03a9f4;*/
}

.register-form .container {
    position: relative;
    min-width: 1100px;
    min-height: 650px;
    display: flex;
    z-index: 1000;
}

.register-form .container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #2b55b2;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.register-form .container .contactInfo h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.register-form .container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.register-form .container .contactInfo ul.info li {
    position: relative;
    list-style-type: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.register-form .container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.register-form .container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

.register-form .container .contactInfo ul.info li span:nth-child(2) {
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

.register-form .container .contactInfo ul.info li:hover span:nth-child(1) img,
.register-form .container .contactInfo ul.info li:hover span:nth-child(2) {
    opacity: 1;
}

.register-form .container .contactInfo ul.social-icons {
    position: relative;
    display: flex;

}

.register-form .container .contactInfo .social-icons li {
    list-style-type: none;
    margin-right: 15px;
}

.register-form .container .contactInfo .social-icons a {
    text-decoration: none;
}

.register-form .container .contactInfo .social-icons li a img {
    filter: invert(1);
    opacity: 0.5;
}

.register-form .container .contactInfo .social-icons li:hover a img {
    opacity: 1;
}

.register-form .container .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.register-form .container .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500px;
}

.register-form .container .contactForm .registerUser {
    position: relative;
    display: flex;
    justify-content: : space-between;
    flex-wrap: wrap;
    padding-top: 30px;

}

.register-form .container .contactForm .registerUser .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.register-form .container .contactForm .registerUser .inputBox.w50 {
    width: 47%;
}

.register-form .container .contactForm .registerUser .inputBox.w100 {
    width: 100%;
    margin-bottom: 0;
}

.register-form .container .contactForm .registerUser .inputBox input {
    width: 90% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.register-form .container .contactForm .registerUser .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.register-form .container .contactForm .registerUser .inputBox input:focus~span,
.register-form .container .contactForm .registerUser .inputBox input:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.register-form .container .contactForm .registerUser .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background-color: #344da9;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    border-radius: 30px;
}

.register-form .container .contactForm .registerUser .inputBox input[type="submit"]:hover {
    background-color: #81a4f2;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: grey;
    width: 30%;
    height: 1px;
    margin: 0 10px;
}

/********LOGIN PAGE************/
.card {
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.img-left {
    width: 45%;
    background-image: url('../images/login-image.png');
    background-position: center;
    background-size: cover;
}

.card-body {

    padding: 2rem;
}

.title {
    margin-bottom: 2rem;
}

.form-input {
    position: relative;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #007bff;
}

.form-input input::placeholder {
    color: black;
    padding-left: 0px;
}

.form-input input:focus,
.form-input input:valid {
    border: 2px solid #007bff;
}

.form-input input:focus::placeholder {
    color: #454b69;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff !important;
    border: 0px;
}

.form-box button[type="submit"] {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #007bff;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
}

.form-box button[type="submit"]:hover {
    background: #0069d9;
}

.forget-link,
.register-link {
    color: #007bff;
    font-weight: bold;
}

.forget-link:hover,
.register-link:hover {
    color: #0069d9;
    text-decoration: none;
}

.form-box .btn-social {
    color: white !important;
    border: 0;
    font-weight: bold;
}

.form-box .btn-facebook {
    background: #4866a8;
}

.form-box .btn-google {
    background: #da3f34;
}

.form-box .btn-twitter {
    background: #33ccff;
}

.form-box .btn-facebook:hover {
    background: #3d578f;
}

.form-box .btn-google:hover {
    background: #bf3b31;
}

.form-box .btn-twitter:hover {
    background: #2eb7e5;
}

/*********End of Login Page**********/


/****User Profile Page************/
.main-square {
    text-align: center;
    background-color: #a5b3e5;
    height: 1000px;
    border-radius: 10px;

}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

/***end of User profile Page*****/

/********Course Container****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#coursesContainer{
  background-color: #7589df;
  border-radius: 20px;
  margin-top: 30px;
}
.course {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 700px;
    margin-bottom: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.course h6 {
    opacity: 0.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.preview {
    background: #5876d0;
    color: #fff;
    padding: 30px;
    width: 100%;
    position: relative;
}

.info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.info p {
    font-size: 12px;
    font-weight: bold;
}

.container .row a {
    text-align: center;
    text-decoration: none;
}

.button {
    background: #5876d0;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-radius: 20px;

}

.button:hover {
    background: #fff;
    color: #e40046;
    border: 1px solid #e40046;
}

@media (max-width: 768px) {
    .course {
        flex-direction: column;
        width: 90%;
    }

    .preview {
        width: 100%;
    }

    .preview h2 {
        margin: 10px 0 0;
    }

    .info h2 {
        margin-top: 20px;
    }

    .info p {
        margin-bottom: 50px;
    }

    .button {
        margin-bottom: 20px;
    }
}

/*Edit a Course*/
.editCourseContainer {
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)
}

.editCourseText {
    padding-top: 30px;
}

#editCourse {
    padding: 0 30px 0 30px;
}

.submitCourseButton {
    font-size: 1.2rem;
}

/**Create a Course**/
.createCourseContainer {
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5)
}

.createCourseText {
    padding-top: 30px;
}

#createCourse {
    padding: 0 30px 0 30px;
}

.createCourseButton {
    font-size: 1.2rem;
}


/*****FOOTER******/
.footer {
    position: absolute;
    width: 100%;
    
}


/********Media Queries***********/
/*phone*/
@media screen and (min-width: 360px) and (max-width: 750px) {

    /*Home Page*/
    .welcome-text {
        margin-top: 10px;
        text-align: left;
    }

    .welcome-text .welcome {

        color: white;
    }

    .welcome-text .dreams {
        color: #1d3060;
        font-size: 4rem;
        font-weight: 700;
    }

    .welcome-text .inspiring {
        margin-top: 30px;
    }

    #landing-image {
        background-image: url('../images/image-one-01-01.png');
        height: 700px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /*position: relative;*/
    }

    /*About page*/

    #sectionOne-img {
        display: none;
    }



    .separator-img {
        margin-top: 100px;
        background-image: url("../images/separator-1-01.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 1050px;

    }

    .single-team {
        text-align: center;
        width: 88%;
        margin: 20px;
        height: 400px;
        padding: 24px;
       /* background: #1f42a8;*/
        position: relative;

        transition: .2s ease-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .register-form .container {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2)
    }

    .register-form .container .contactInfo {
        top: 0;
        /*height: 550px;*/
        position: relative;
        box-shadow: none;
        width: 100%;
    }

    .register-form .container .contactForm {
        position: relative;
        width: calc(100%-350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        /*height: 550px;*/
        box-shadow: none;
        width: 100%
    }

    .register-form .container .contactForm .registerUser .inputBox span {

        font-size: 12.5px;

    }
    .course-team {
    text-align: center;
    width: 200px;
    margin: 20px;
    height: 200px;
    padding: 30px;
    background: white; 
    position: relative;
    /* display: flex;
    align-items: flex-end;*/
    transition: .2s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

    footer {
        margin-top: 600px;
        background: #1f42a8;
    }




}




/*ipad*/
@media screen and (min-width: 768px) and (max-width:1020px) {
    .welcome-text {
        margin-top: 40px;
        text-align: left;
    }

    .welcome-text .welcome {
        color: white;
        font-size: 1.3rem;
    }

    .welcome-text .dreams {
        color: #1d3060;
        font-size: 6rem;
        font-weight: 700;
    }

    .welcome-text .inspiring {
        margin-top: 30px;
        font-size: 2rem;
    }

    #landing-image {
        background-image: url('../images/image-one-01-01.png');
        height: 1030px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /*position: relative;*/
    }

    #sectionOne-img {
        display: none;
    }

    .separator-img {
        margin-top: 100px;
        background-image: url("../images/separator-01-01.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 550px;
    }

    .register-form .container {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2)
    }

    .register-form .container .contactInfo {
        top: 0;
        /*height: 550px;*/
        position: relative;
        box-shadow: none;
        width: 100%;
    }

    .register-form .container .contactForm {
        position: relative;
        width: calc(100%-350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        /*height: 550px;*/
        box-shadow: none;
        width: 100%
    }


    .register-form .container .contactForm .registerUser .inputBox span {

        font-size: 17px;

    }

    .single-team {
        width: 94%;
        margin: 20px;
        height: 300px;
        padding: 24px;
        
        position: relative;

        transition: .2s ease-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    footer {
        margin-top: 620px;
        background: #1f42a8;
    }


}
#subjectContainer {
    margin-left: 30px;
    padding-bottom: 30px;
}